@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: none;
}

@media only screen and (max-width: 900px) {
  header {
    display: flex;
  }
}

input {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

aside {
  min-width: 250px;
  height: 100vh;
  position: sticky;
  background: #0d1d41;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 35px 20px 0 20px;
  overflow-y: scroll;
}
@media only screen and (max-width: 900px) {
  aside {
    display: none;
  }
}
.excel-icon {
  position: absolute;
}

.cursor {
  cursor: pointer;
}

.text_line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.date {
  width: 100%;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

css-17vdz66 {
  width: "100%";
}

.infinite-scroll-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body
  > div.MuiModal-root.css-dbx0j-MuiModal-root
  > div.MuiBox-root.css-70toqf
  > div
  > div
  > div.MuiBox-root.css-ij5odo
  > div.MuiBox-root.css-hbm2t4
  > div.slider-container
  > div.slider-frame
  > div {
  text-align: center !important;
}

body
  > div.MuiModal-root.css-dbx0j-MuiModal-root
  > div.MuiBox-root.css-70toqf
  > div
  > div
  > div.MuiBox-root.css-13d491q
  > div.MuiBox-root.css-hbm2t4
  > div.slider-container
  > div.slider-frame
  > div {
  text-align: center !important;
}

.ql-editor {
  min-height: 465px !important;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

.DateRangePicker__Month {
  width: 100%;
}

.DateRangePicker__CalendarSelection--is-pending {
  background-color: #0d1d41 !important;
}
